
@mixin Start($display){
  @if $display == flex {
    display: flex;
  }@else if $display == grid {
    display: grid;
  }
  justify-content: center;
  align-items: center;
}


main{
  background-color: red;
  min-width: 100%;
  min-height: 100vh;
  @include Start(flex);
  align-items: center;
  .section{
    background-color: blue;
    min-width: 600px;
    min-height: 750px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .list{
      margin-top: 60px;
    }
    .form{
      margin-top: 120px;
      display: grid;
      gap: 30px;
      input{
        all: unset;
        background-color: rgb(61, 61, 61);
        max-width: 200px;
        min-height: 40px;
        border-radius: 10px;
        text-align: center;
      }
      button{
        all: unset;
        background-color: rgb(61, 61, 61);
        max-width: 200px;
        min-height: 40px;
        border-radius: 10px;
        text-align: center;
      }
    }
  }

}