
$color: #3C3C3C;

@mixin Start($display){
  @if $display == flex {
    display: flex;
  }@else if $display == grid {
    display: grid;
  }
  justify-content: center;
  align-items: center;
}


main{
  min-width: 100%;
  min-height: 100vh;
  @include Start(flex);
  align-items: center;
  .section{
    h1{
      margin-top: 30px;
      background-color: $color;
      width: 300px;
      height: 100px;
      @include Start(flex);
      font-size: 64px;
      border-radius: 25px;
    }
    background-color: #F8F8F8;
    max-width: 700px;
    box-shadow: 10px 10px 200px 0px rgb(0, 255, 255);
    min-height: 750px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    flex-direction: column;
    
    .todos{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      .list{
        margin-top: 10px;
        color: $color;
        font-size: 26px;
      }
    }
    .form{
      margin-top: 120px;
      @include Start(flex);
      flex-direction: row;
      padding-left: 100px;
      gap: 30px;
      input{
        all: unset;
        background-color:$color;
        min-width: 500px;
        min-height: 60px;
        border-radius: 10px;
        
        &::placeholder{
          text-align: left;
          position: relative;
          left: 150px;
          font-size: 24px;
        }
      }
      button{
        all: unset;
        left: 300px;
        bottom: 60px;
        position: relative;
        background-color: $color;
        min-width: 200px;
        min-height: 60px;
        border-radius: 10px;
        text-align: center;
      }
      
    }
  }

}